@import "tailwindcss";
@import "@navikt/ds-css" layer(components);
@config '../tailwind.config.ts';

html,
body {
  @apply bg-bg-subtle;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
