name: Build and deploy to dev-gcp
run-name:  Deploy ${{ github.ref_name }} to dev by ${{ github.actor }}
on:
  workflow_dispatch:

concurrency:
  group: deploy-feature-branch
  cancel-in-progress: true

jobs:
  build_and_deploy:
    name: Build, push and deploy
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - name: Install bun
        uses: oven-sh/setup-bun@v2
      - name: Install dependencies (bun)
        run: bun install --frozen-lockfile
        env:
          BUN_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
      - name : bun run build
        run: bun run build
      - name: delete node_modules
        run: rm -rf node_modules
      - name: install dependencies except devDependencies
        run: bun install --production
      - name: Build and push image and SBOM to OCI registry
        uses: nais/docker-build-push@v0
        id: docker-build-push
        with:
          team: dab
      - name: Deploy to dev
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: .nais/dev-gcp.yaml
          VAR: image=${{ steps.docker-build-push.outputs.image }}
          TELEMETRY: ${{ steps.docker-build-push.outputs.telemetry }}
          DEPLOY_SERVER: deploy.nav.cloud.nais.io:443
